.tasty-pancakes {
  min-height: 760px;
  background-image: url('../images/backgrounds/tasty-pancakes-bg.png');
  background-repeat: no-repeat;
  padding-top: 140px;

  .food-widget {
    background-image: url('../images/backgrounds/tasty-pancakes-description-bg.png');
    background-repeat: no-repeat;
    height: 512px;
    width: 965px;

    .description {
      width: 400px;
      margin-left: 475px;
      margin-top: 65px;

      .section-header {
        text-align: left;
        padding-bottom: 50px;
      }

      p {
        color: #56534c;
        padding-bottom: 100px;
      }

      .slider {

      }

      .windmill {
        background-image: url('../images/content/tasty-pancakes-windmill.png');
        background-repeat: no-repeat;

        display: block;
        width: 261px;
        height: 294px;
        margin: 0;
        position: absolute;
        right: 0;
        bottom: 0;

      }

    }
  }





}