@font-face {
  font-family: 'scriptinaregular';
  src: url('fonts/scriptina-webfont.woff2') format('woff2'),
  url('fonts/scriptina-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'alegreyaregular';
  src: url('fonts/alegreya-regular-webfont.woff2') format('woff2'),
  url('fonts/alegreya-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'alegreyabold';
  src: url('fonts/alegreya-bold-webfont.woff2') format('woff2'),
  url('fonts/alegreya-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'playfair_displaybold';
  src: url('fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
  url('fonts/playfairdisplay-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('fonts/proximanova-regular-webfont.woff2') format('woff2'),
  url('fonts/proximanova-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}